@media( max-width: 1650px) {
    #main_table {
        display: block;
    }
}

#main {
    width: 99vw;
    overflow-x: hidden;
}

#main_table {
    display: grid;
    grid-template-columns: 7fr 3fr;
    grid-template-rows: auto;
    width: 100vw;
}

#container {
    width: 100%;
    height: 100%;
}

#father_container {
    height: 90vh;
    border-right: 2px solid grey;
    margin-top: 1vh;
    margin-bottom: 1vh;
    margin-left: 1vw;
    margin-right: 1vw;
}

#infoboard {
    margin-right: 1vw;
    margin-top: 1vh;
    margin-bottom: 1vh;
    margin-right: 1vw;
}